<div class="table-container">
  <table mat-table class="mat-elevation-z8">
    <ng-container matColumnDef="city"><th mat-header-cell *matHeaderCellDef>City</th><td mat-cell *matCellDef="let row">{{row.city}}</td></ng-container>
    <ng-container matColumnDef="country"><th mat-header-cell *matHeaderCellDef>Country</th><td mat-cell *matCellDef="let row">{{row.country}}</td></ng-container>
    <ng-container matColumnDef="street"><th mat-header-cell *matHeaderCellDef>Street</th><td mat-cell *matCellDef="let row">{{row.street}}</td></ng-container>
    <ng-container matColumnDef="no"><th mat-header-cell *matHeaderCellDef>No</th><td mat-cell *matCellDef="let row">{{row.no}}</td></ng-container>
    <ng-container matColumnDef="zip"><th mat-header-cell *matHeaderCellDef>ZIP</th><td mat-cell *matCellDef="let row">{{row.zip}}</td></ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
