<div class="items-container">
  <mat-card class="item-card" *ngFor="let item of items">

    <!-- Header -->
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>
        {{ item.type?.name }}
      </mat-card-subtitle>
    </mat-card-header>

    <!-- Content -->
    <mat-card-content>

      <div class="info-row barcode-row">
        <span class="label">Barcode:</span>
          <span class="barcode-content">
          <img src="/barcode.png" alt="Barcode PNG image" />
          <span class="barcode-text">{{ item.barcodeValue }}</span>
        </span>
      </div>

      <div class="info-row">
        <span class="label">Price:</span>
        <span>{{ item.sellingPrice | currency }}</span>
      </div>

      <div class="info-row">
        <span class="label">Expires:</span>
        <span>{{ item.expirationDateTime | date: 'mediumDate' }}</span>
      </div>

      <div class="chips">
        <mat-chip *ngFor="let loc of item.locations" color="primary">
          {{ loc.name }}
        </mat-chip>
      </div>

    </mat-card-content>

  </mat-card>
</div>
