.stacked-cards {
  display: flex;
  gap: 10px;
}

mat-menu mat-icon {
  margin-right: 8px;
}

.location-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

mat-card-title {
  font-size: 20px;
  font-weight: 600;
}

mat-card-subtitle {
  font-size: 14px;
  margin-top: 4px;
}
