.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-name {
  font-weight: 500;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  font-weight: 500;
}

.user-info mat-icon {
  font-size: 20px;
  vertical-align: middle;
}

/* Optional hover effect */
.user-info:hover {
  opacity: 0.85;
}
