.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
}

.user-drop-down-menu-content {
  min-width: 180px;
}

.user-name {
  font-weight: 500;
  color: #c2185b;
}
