<!-- User info button -->
<button mat-button [matMenuTriggerFor]="userMenu" class="user-info">
  <span class="user-name">
    {{ user?.fullName ?? '' }}
  </span>
</button>

<!-- User dropdown menu -->
<mat-menu #userMenu="matMenu" class="user-drop-down-menu-content">
  <button mat-menu-item (click)="openMyProfile()">
    My Profile
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item *ngIf="authService.getUser()?.isAdmin">
    Change Location
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="authService.logout()">
    Logout
  </button>
</mat-menu>
